.triplay-footer {
    padding: 50px 0;
    background-color: $secondaryColor;
    &__top {
        display: flex;
        flex-direction: row;
        &--logo {
            margin-right: 20%;
        }
        &--menu {
            h2 {
                color: $white;
                font-size: 40px;
                margin-bottom: 20px;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-left: 5px;
                li {
                    margin-bottom: 5px;
                    a {
                        color: $white;
                        font-size: 20px;
                        transition: 0.4s;
                        &:hover {
                            color: $primaryBlue;
                        }
                    }
                }
            }
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        padding: 5px 20px;
        margin-bottom: -20px;
        h2 {
            color: $white;
            font-size: 40px;
        }
        p {
            color: $white;
            font-size: 20px;
        }
        &--social {

            .social-media {
                display: flex;
                align-items: center;
                img {
                    margin-left: 20px;
                }
            }
        }
    }
    hr {
        color: $white;
        border: 2px solid $white;
    }
    .triplay-credit {
        color: $white;
        font-size: 18px;
    }
}