.triplay-secondary-header {
    padding: 20px 0;
    background-color: $darkBlue;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .triplay-nav {
            width: 75%;
            ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin-right: 30px;
                    font-size: 20px;
                    a {
                        color: $white;
                        font-weight: 600;
                        text-decoration: none;
                        transition: 0.3s;
                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }
        }
        .triplay-logo {
            width: 25%;
            img {
                width: 100%;
            }
        }
    }
}